*{
    margin: 0;
    padding: 0;
    
}

.hmtl{
    font-size: 100%;
}

body{
    background-image: url(Fondolicores.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.Titulo{
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    color: rgb(238, 58, 30);
    text-shadow: 4px 4px 10px rgb(243, 240, 240);
   
   
}


.container-fluid{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   text-align: center
}

.Licores1{
    margin-left: 50px;
}

.Licores2{
    margin-left: 50px;
}

.Licores3{
    margin-left: 50px;
}

.Licores4{
    margin-left: 50px;
}

.Licores5{
    margin-left: 50px;
}

.Licores6{
    margin-left: 50px;
}

.Licores7{
    margin-left: 40%;
    margin-top: 30px;
}

.foto1{
   text-align: center;
}



