*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(fndo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.html{
    font-size: 100%;
}


.titulo{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 5px 5px 10px  rgb(241, 2, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 10s;
    background-color: rgb(0, 0, 0);
}

.fotos1{
    text-align: center;
    letter-spacing: 30px;
    transition: 10s;
   
}

.foto2{
    text-align: center;
    transition: 10s;
    letter-spacing: 30px
   
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    background-color: rgb(82, 82, 82);
    padding: 20px;
}

.Gaseosa1{
    margin-left: 40px;
}

.Gaseosa2{
    margin-left: 40px;
}

.Gaseosa3{
    margin-left: 40px;
}

.Gaseosa4{
    margin-left: 40px;
}

.Gaseosa5{
    margin-left: 40px;
}

.Gaseosa6{
    margin-left: 40px;
}